.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.rc-pagination-item,.rc-pagination-next,.rc-pagination-prev {
  border-radius: 6px;
  min-width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: large;
  background-color: cornflowerblue;
}
.rc-pagination-item-active{
    background-color: crimson;
}
tfoot {
  display: table-row-group;
}
.select-rc{
  min-width: 260px;
}
.select-rc>div>div,.ss>div>div{
  padding: 0;
}
.ss *{
  background-color:rgb(240, 255, 255);
}
.fileUploader {
  display: inline;
}
